.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.pyo
*.swp

.venv/
env/
venv/
ENV/
*.virtualenv

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

*.env
.env.*

*.log
*.out
*.err

*.sqlite3
*.db
*.bak
*.tmp

*.egg
*.egg-info/
dist/
build/
*.wheel

.coverage
.tox/
nosetests.xml
*.pytest_cache/

docs/_build/
*.rst

docker-compose.override.yml
*.tar
*.img

.ipynb_checkpoints/

pip-log.txt
pip-delete-this-directory.txt

.git/
!.env.example
